/*Style sheet for question 12 restaurant
Jacob Yankee
COSC 436
Maniccam
Homework 1*/
body{
	color:azure;
	background-image:url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
	background-size: 1920px 1080px;
	font-family:tahoma, sans-serif;
	}
h1{
	font-size:250%;
	text-align:center;
	}
p{
		font-size:150%;	
	}
hr{
	height:3px;
	border-width:0;
	color:black;
	background-color:dodgerblue;
	}
/*styling for horizontal navigator/menu*/
.navi{
	border:1px solid black;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	font-size:125%;
	width:50%;
	background-color:midnightblue;
	}
/*styling for home paragraph*/
.homep{
	text-align:center;
	width:750px;
	background-color:midnightblue;
	margin-left:auto;
	margin-right:auto;
	}
/*styling for navigator links*/
a:link {color:azure;}
a:visited {color:azure;}
a:hover {
	color:dodgerblue;
	font-size:126%;
	}
a:active {color:azure;}
/*styling for menu images*/
.menuimg{
	width:300px;
	height:300px;
	float:left;
	border: 6px solid burlywood;
	}
/*styling for menu paragraphs*/
.menup{
	width: 900px;
	height:312px;
	position:relative;
	top:80px;
	left:10px;
}
/*styling for menu items*/
.menui{
	background-color:midnightblue;
	}
/*styling for menu header 2*/
.menuh{
	text-decoration:underline;
	}
/*styling for menu*/
.menu{
	display:block;
	margin-top:30px;
	margin-bottom:30px;
	padding:20px;
	width:50%;
	}
/*styling for price table image size*/
.priceimg{
	width:150px;
	height:150px;
	}
/*styling for price table*/
.pricet{
	width:150px;
	font-size:125%;
	text-align:center;
	background-color:burlywood;
	}
/*styling for price table to make a fake border*/
.priceb{
	background-color:black;
	}
/*styling for contact page*/
.contact{
	text-align:center;
	background-color:midnightblue;
	width:40%;
	margin-left:auto;
	margin-right:auto;
	}